[Unit]
Description=Cassandra App
After=network.target

[Service]
Type=simple
User=cassandra
Group=cassandra
WorkingDirectory=/opt/cassandra
ExecStart=/opt/cassandra/cassandra-app
Restart=always
RestartSec=5s

# Limites y logs
LimitNOFILE=65535
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
